<div class="">
  <div class="p-d-flex">
    <form [formGroup]="carForm" (ngSubmit)="saveCar()">

      <span class="p-float-label p-mt-4 full-width">
        <p-dropdown id="brand-input" [options]="brands" optionValue="id" [autoDisplayFirst]="false" formControlName="brandId" optionLabel="name" [style]="{'width':'100%'}" [class]="carForm.controls.brandId.errors && carForm.touched  ? 'ng-invalid ng-dirty' : ''"></p-dropdown>
        <label for="brand-input">Brand:</label>
      </span>
      <span class="p-float-label p-mt-4 full-width">
        <p-dropdown id="model-input" [options]="models" optionValue="id" [autoDisplayFirst]="false" formControlName="modelId" optionLabel="name" [style]="{'width':'100%'}" [class]="carForm.controls.modelId.errors && carForm.touched  ? 'ng-invalid ng-dirty' : ''"></p-dropdown>
        <label for="model-input">Model:</label>
      </span>
    
    <span class="p-float-label p-mt-4">
      <p-dropdown id="color-input" [options]="colors" optionValue="id" [autoDisplayFirst]="false" formControlName="colorId" optionLabel="name" [style]="{'width':'100%'}" [class]="carForm.controls.colorId.errors && carForm.touched  ? 'ng-invalid ng-dirty' : ''"></p-dropdown>
      <label for="color-input">Color:</label>
    </span>
    <div class="p-d-flex">
      <span class="p-float-label p-mt-4">
        <p-inputNumber id="price-input" formControlName="price" type="number" [class]="carForm.controls.price.errors && carForm.touched  ? 'ng-invalid ng-dirty' : ''"></p-inputNumber> 
        <label for="price-input">Price:</label>
      </span>
      <span class="p-float-label p-mt-4">
        <p-inputNumber id="engine-volume-input" formControlName="engineVolume" [class]="carForm.controls.engineVolume.errors && carForm.touched  ? 'ng-invalid ng-dirty' : ''"></p-inputNumber> 
        <label for="engine-volume-input">Engine volume:</label>
      </span>
    </div>
    
    <span class="p-float-label p-mt-4">
      <textarea  id="description-input" formControlName="description" [rows]="8" [cols]="50"  [class]="carForm.controls.description.errors && carForm.touched  ? 'ng-invalid ng-dirty' : ''"></textarea>
      <label for="description-input">Description:</label>
    </span>
    <p-button type="submit">Save</p-button>
  </form>
</div>
