<router-outlet></router-outlet>
<p-confirmDialog header="Confirmation" #cd icon="pi pi-exclamation-triangle" key="default">

  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
  </p-footer>

</p-confirmDialog>


<p-confirmDialog header="Confirmation" #cdwarn icon="pi pi-exclamation-triangle" key="warning">

  <p-footer>
    <div class="p-d-flex warning">
      All items will be deleted!  
    </div>

    <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cdwarn.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="No" (click)="cdwarn.reject()"></button>
  </p-footer>

</p-confirmDialog>