<p-contextMenu #cm [model]="contextItems"></p-contextMenu>

<div class="cars-list" >
  <p-dataView [value]="cars" [layout]="selectedColumns == 1 ? 'list' : 'grid'">

    <ng-template pTemplate="header">
      <div class="p-d-flex p-jc-between p-ai-center">
        <b>Cars: {{cars.length}}</b>
        <div>
          Limit:
          <p-inputNumber id="limit-input" [min]="0" [(ngModel)]="limit" (onInput)="onLimitChanged($event)" ></p-inputNumber>  
        </div>
        <div>
          Columns:
          <p-inputNumber id="columns-input" [min]="1" [(ngModel)]="selectedColumns" (onInput)="onColumnsChanged($event)"></p-inputNumber> 
        </div>
      </div>
    </ng-template>

    <ng-template let-car pTemplate="listItem">      
        <div class="p-col-12">
          <div [routerLink]="['car', car.id]" class="car-list-item item-hover" (contextmenu)="onSelect($event, car)">
            <div><b>Brand:</b> {{car.brand.name}},</div>
            <div><b>Model:</b> {{car.model.name}},</div>
            <div><b>Price:</b> {{car.price}},</div>
            <div *ngIf="!!car.priceByDate"><b> By date:</b> {{car.priceByDate}},</div>
            <div><b>Engine:</b> {{car.engineVolume}}</div>
          </div>
        </div>
    </ng-template>

    <ng-template let-car pTemplate="gridItem">
      <div [ngClass]="'p-col-12 p-md-' + ( 7 - selectedColumns)">
        <div [routerLink]="['car', car.id]" class="car-grid-item item-hover" (contextmenu)="onSelect($event, car)">
          <div><b>Brand:</b> {{car.brand.name}}</div>
          <div><b>Model:</b> {{car.model.name}}</div>
          <div><b>Price:</b> {{car.price}}</div>
          <div *ngIf="!!car.priceByDate"> By date: {{car.priceByDate}},</div>
          <div><b>Engine:</b> {{car.engineVolume}}</div>
        </div>
      </div>
    </ng-template>

  </p-dataView>
  <p-paginator [rows]="limit" [totalRecords]="totalCount" (onPageChange)="pageChange($event)"></p-paginator>
</div>