:host {
  ::ng-deep .p-dataview-header {
      // background-color: red;
    padding: 5px; 
    background-color: white;
    border-bottom: 1px solid #ccc;
  }
  // ::ng-deep .p-dataview {
  //   // background-color: red;
  //   padding-left: 5px; 
  //   padding-right: 5px; 
  //   background-color: white;
  //   border-bottom: 1px solid #ccc;
  // }      
}

.cars-list{
  padding: 10px;
  margin: 10px;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}


.car-list-item{
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  display: flex;

  > * {
    margin-right: 5px;
  }

}
.car-grid-item{
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
}

.item-hover:hover{
  background-color: rgb(240, 240, 240);
}