<div class="p-p-2">
  <b>Filters:</b>
  
  <span class="p-float-label p-mt-5">
    <p-dropdown 
    [options]="colors" 
    [(ngModel)]="filters.color" 
    (onChange)="changed()"
    optionLabel="name"
    [filter]="true"
    [autofocusFilter]="true"
    [autoDisplayFirst]="false"
    ></p-dropdown>
    <label for="price-from-input">Color:</label>
  </span>

  <span class="p-float-label p-mt-5">
    <p-inputNumber id="price-from-input" [(ngModel)]="filters.priceFrom" (onInput)="changed()"></p-inputNumber> 

    <label for="price-from-input">From:</label>
  </span>
  <span class="p-float-label  p-mt-5">
    <p-inputNumber id="price-to-input" [(ngModel)]="filters.priceTo" (onInput)="changed()"></p-inputNumber> 

    <label for="price-to-input">To:</label>
  </span>
  <span class="p-float-label  p-mt-5">
    <p-calendar id="price-date-input" [(ngModel)]="filters.priceDate" (onSelect)="changed()" [showIcon]="true"></p-calendar>
    <label for="price-date-input">On date:</label>
  </span>
  
  <span class="p-float-label  p-mt-5">
    <p-inputNumber id="engine-value-input" [(ngModel)]="filters.engineValue" (onInput)="changed()"></p-inputNumber> 
    <label for="engine-value-input">Engine value:</label>
  </span>
</div>
