<div class="p-d-flex p-flex-column p-field">
  <label for="brand-name">Name</label>
  <input id="brand-name" [formControl]="nameControl" class="{'ng-invalid ng-dirty': nameControl.valid || !nameControl.touched}" pInputText/>
  <small id="brand-name" [hidden]="nameControl.valid || !nameControl.touched"  class="p-error">Name is required!</small>
</div>

<span class="p-float-label p-my-5">
  <p-dropdown 
  appendTo="body"
  [options]="brands" 
  [(ngModel)]="selectedBrand" 
  optionLabel="name"
  [filter]="true"
  [autofocusFilter]="true"
  [autoDisplayFirst]="false"
  [style]="{'width':'100%'}"
  ></p-dropdown>
  <label>Brand:</label>

</span>

<p-button [disabled]="isLoading" (click)="saveBrand()">{{isEditing ? 'Save' : 'Add'}}</p-button>
