.base{
  display: flex;
  border: 1px solid red;
  * {
    border: 1px solid red;
  }

  .models-tree{
    width: 200px;
    flex-grow: 1;
  }
  .models-list{
    flex-grow: 8;
    width: 200px;
  }
  .models-filter{
    flex-grow: 1;
    width: 200px;
  }
}